/* Reset */

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 62px;
    font-weight: 800;
}

img {
    max-height: 100%;
    max-width: 100%;
}

main {
    padding-top: 150px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

footer{
    background-color: black;
    color: white;
    padding: 50px 0px;
}

/* Utils */

.small-container {
	max-width: 1000px;
	margin: 0 auto;
}

.large-container {
	max-width: 1100px;
	margin: 0 auto;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.g20 {
    gap: 20px;
}

.g30 {
    gap: 30px;
}

.g40 {
    gap: 40px;
}


.f10 {
    font-size: 10px;
}

.f14 {
    font-size: 14px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb80 {
    margin-bottom: 80px;
}

/* Bottoni */

.btn-full {
    padding: 5px 10px;
    background-color: #0061ff;
    color: white;
    cursor: pointer;
}

.btn-full.lg {
    padding: 5px 30px;
}

.btn-empty {
    padding: 5px 10px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.btn-empty.border{
    border: 1px solid black;
}

/* Header */

.navbar{
    position: fixed;
    background-color: white;
    z-index: 1;
    left: 0;
    right: 0;
    height: 50px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.jumbo {
    padding-top: 100px;
    background-color: #b4d0e7;
    height: 600px;
}

.content-jumbo {
    margin-top: 40px;
}

.jumbo-sx {
    width: 40%;
    align-items: flex-start;
}

.jumbo-sx i{
    padding-top: 30px;
    font-size: 42px;
}

.jumbo-dx {
    width: 60%;
}

.jumbo-dx img{
    max-width: 110%;
}

/* Main */

.billing-selection {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid #0061ff;
    margin-right: 5px;
}

.billing-not-selection {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid grey;
    margin-right: 5px;
}

.all-plans > div {
    flex-basis: calc(100% / 3);
}
.plans-card, .contact-for-quote{
    border: 1px solid grey;
}

.plans-card-header {
    font-size: 12px;
    text-align: center;
    padding: 3px 0px;
    border-bottom: 1px solid grey;
}

.plans-name {
    font-size: 22px;
    font-weight: 700;
}

.price {
    font-weight: 700;
}

.plans-card-main{
    padding: 10px 20px;
}

.btn-plans{
    display: block;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 30px;
}

.row{
    border-bottom: 1px solid black;
    width: 5%;
}

.salients-point{
    font-size: 16px;
    font-weight: 700;
}

.fa-check {
    color: blue;
}

.plans-card li{
    margin: 20px 0;
    font-size: 16px;
}

main i{
    margin-right: 10px;
}

.contact-for-quote-sx{
    flex-basis: 70%;
    padding: 20px;
}

.contact-for-quote-dx{
    flex-basis: 30%;
    padding: 20px;
}

.dropbox-partner{
    width: 100%;
}
.dropbox-partner-sx {
    flex-basis: 70%;
}

.dropbox-partner-dx {
    flex-basis: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

/* BRAND */

.col{
    flex-basis: calc(100% / 3);
    /* height: 450px; */
}

.square{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.square.bg-designit {
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}

.square.bg-asu {
    background-color: #61082b;
}

.square.bg-uof {
    background-color: #0093ce;
}

.square.bg-topps {
    background-color: #ff1c1c;
}

.square.bg-wbr {
    background-color: #d5001f;
}

.square.bg-lhc {
    background-color: #b4d0e7;
}

.square.bg-lp {
    background-color: #0d2481;
}

.square.bg-cc {
    background-color: #ffd830;
}

.square img{
    scale: 60%;
    filter: invert(100%);
}

.central-rectangle{
    background-color: #f5f5f5;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.central-rectangle img{
    width: 40%;
}

.prova-gratis{
    background-color: #b4d0e7;
    width: 100%;
    min-height: 225px;
}

.dropbox-buisness-sx {
    flex-basis: 60%;
    height: 225px;
    padding-right: 120px;
    justify-content: flex-start;
    align-items: center;
}

.dropbox-buisness-dx {
    flex-basis: 40%;
    height: 225px;
    justify-content: flex-start;
    align-items: center;
}

.dropbox-buisness-sx h3 {
    color: #61082b;
}

.col-top {
    padding: 20px;
}

.col-bottom {
    padding: 20px;
}

/* FAQ */

.FAQ p{
    font-size: 18px;
    font-weight: bold;
}

.tab-faq div{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

#top-tab {
    border-top: 1px solid black;
}



/* FOOTER */

.col-footer{
    flex-basis: 20%;
    margin-bottom: 30px;
}

footer a{
    line-height: 2rem;
    font-size: 14px;
    color: white;
}

.line-footer{
    width: 60%;
    border-bottom: 1px solid white;
}

footer i {
    margin-right: 3px;
}